<div id="acsi">
    <a target="_blank" href="http://www.acsi.org" title="Association of Classical Schools International"></a>
</div>
<div id="accs">
    <a target="_blank" href="http://www.accsedu.org" title="Association of Classical Christian Schools"></a>
</div>
<div id="pcccs">
    <a href="@Url.Content("~/introduction/coalition")" title="Phoenix Coalition of Classical Christian Schools"></a>
</div>
<div id="desertsprings">
    <a target="_blank" href="http://www.coolpreschool.com" title="Desert Springs Christian Preschool"></a>
</div>